<!DOCTYPE html>
<html>
<body>

<h1 style="font-family:verdana;">VOICE TO IMAGE</h1>

<p style="font-size:20px;"> Using Stable-diffusion and whisper.</p>
<hr>

<form action="/upload/" enctype="multipart/form-data" method="post">
      <label for="lang">Select your Language: &nbsp&nbsp</label>
      <br><br>
      <select name="languages" id="lang">
        {% for choice in choices %}
            <option value={{choice}}>{{choice}}</option>
            <!-- The choices are correctly displayed in the dropdown menu -->
            {% endfor %}
      </select>
      <br><br>
      <label for="file">Upload an audio file Prompt (< 30s, .wav encoding):</label>
      <br><br>
      <input type="file" id="myFile" name="filename">
      <br><br>
      <hr>
      <input type="submit" value="Generate an image">
</form>
 
</body>
</html>
